@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #fdfdfd;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffc107' fill-opacity='0.77' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.bg-purple {
    background-color: rgb(59, 0, 114);
}

.main-title {
    margin-left: 10px;
    font-size: xx-large;
    font-family: 'Pacifico', cursive;
}

.carousel-caption {
    top: 0;
    bottom: auto;
}

.carousel-item h2 {
    color: rgb(59, 0, 114);
    font-size: 4vw;
}

.carousel-item p {
    color: rgba(59, 0, 114, 0.753);
    font-size: 2vw;
    font-weight: bolder;
}

.div-carousel-caption{
    height: 100%;
}

h2 {
    color: rgb(59, 0, 114);
    font-size: 4vw;
    font-family: 'Glory', serif;
}

footer div {
    background-color: rgb(59, 0, 114);
    color: white;
    height: 10vh;
}

input {
    border: none;
    border-bottom: 3px solid rgb(59, 0, 114);
}

select {
    border: none;
    border-bottom: 3px solid rgb(59, 0, 114);
}

.limit {
    width: 150px;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
}

.limit img {
    height: 100%;
    width: 100%;
}

.animate:hover {
    animation: pulse;
    animation-duration: 2s
}

#telInput {
    -moz-appearance: textfield;
}

#telInput::-webkit-outer-spin-button,
#telInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#offcanvasRight {
    width: 40vw;
}

[v-cloak] {
    display: none
}

#indexMobile p{
    font-size: .8em;
    color: black;
    text-align: center;
}

.inputNumber{
    width: 4rem;
    padding-left: 1.5rem;
}

/*******ICONO CARRITO****/

.bi-cart4 {
    font-size: 30px;
    color: #fff;
}

.nav-link.bg-warning {
    padding: 0 .3rem;
    margin: 0;
}

.offcanvas-header .btn-close {
    background-color: #fff;
}


/*******FOOTER***********/

.divFooter>a {
    background-color: inherit;
    border: none;
    transition: 1s;
}

.divFooter>a>i {
    color: #fff;
    font-size: 25px;
    transition: 1s;
}

.divFooter>a>i:hover {
    color: #fff;
    transform: rotate(360deg);
}

.card-text {
    font-weight: bolder;
    font-size: 1.2em;
}

.hover-warning:hover {
    color: #ffc107 !important;
}

@media screen and (max-width: 769px){
    #offcanvasRight{
        width: 80vw;
    }
}

@media screen and (max-width: 426px){

    h2{
        font-size: 6vw;
    }
    .nav-item a {
        font-size: .8em;
    }
    #offcanvasRight {
        width: 100vw;
    }
}
